@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

em {
  color: #888;
}